<div class="em-markdown-editor row form-row">
  <div class="em-markdown-edit">
    <label>
      {{label}}
      <i title={{lang.fullscreen}} {{action "toggleFullscreen"}} class="fa fa-expand right"></i>
    </label>
    <div class="em-markdown-input">
      {{textarea value=value placeholder=placeholder}}
    </div>
  </div>
  <div class="em-markdown-preview">
    <label>{{lang.preview}}</label>
    <div class="em-markdown-output">
      {{format-markdown value}}
    </div>
  </div>
</div>
